@media only screen and (max-width: 1000px) {
    body{
        flex-direction: column;
    }

    .nav-link{
        display: inline-block;
        width: auto;
    }
    #navbar{
        width: 80vw;
        /* display: flex; */
        /* justify-content: center; */
        margin: auto;
    }
    .main-section{
        width: 100vw;
        margin: 12px auto;
    }
    header{
        margin: auto;
        padding: 7px;
    }
    .syntax{
        margin: auto;
    }
}
