body {
  background-image: url('https://i.pinimg.com/originals/1d/41/4e/1d414e27fb0c1b326ba6ae28981d9285.jpg');
  background-size: auto;
  color: black;
  background-position: center;
  width: 100vw;
  margin: 0 auto;
  font-family: Cambria Math;
}

#survey-form {
  background-color: rgb(218, 159, 195);
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}

#description {
  text-align: center;
  font-style: italic;
  font-weight: 500px;
}

#title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500px;

}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  align-items: center;
}

input,
select {
  width: 400px;
  height: 30px;
  border-radius: 7px;
  font-size: 16px;
}

label {
  margin-bottom: 10px;
  width: 90%;
  font-size: 18px;
  padding-top: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  height: 10px;
  margin-left: 20px;
  width: 10px;
}

.form-radio,
.div-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

textarea {
  border: 1px solid #777;
  border-radius: 10px;
  font-family: verdana;
  padding: 10px;
  display: block;
  width: 90%;
  height: 100px;
}

input[type="submit"] {
  width: 90%;
  color: #9e1073;
  background-color: #ffffff;
  border: 1px solid rgb(100, 100, 199);
  margin-bottom: 50px;

}

.owner {
  text-align: center;
}
#submit:hover {
  background-color: rgb(250, 18, 115);
  color: rgb(206, 197, 197);
}
a:hover {
  color: pink;
}
a:visited{
  color : black;
}